<ng-container *transloco="let t; prefix: 'HISTORIC-CHART'">
  <ng-template #maximizedChart let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-data-chart #secondChart [dataset]="datasets" [labels]="labels"/>
    </div>
    <!--  <div class="modal-footer">-->
    <!--    <button class="btn btn-light" type="button" (click)="secondChart.resetChartZoom()">Restableix zoom</button>-->
    <!--  </div>-->
  </ng-template>

  <ng-template #legendModal let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-chart-legend [labels]="mobileLabels" containerClassList="d-flex flex-column alig-items-start w-100 gap-4"/>

      <hr>

      <p>
        {{ t('texts.chartUpdateWarning') }}
      </p>
      <p>
        {{ t('texts.chartBottomText') }}
      </p>
    </div>
  </ng-template>

  @if ((fetchingData$ | async) === false) {
    @if ((currentBreakpoint$ | async)! < BreakPoints.MD) {
      <div class="d-flex justify-content-around">
        <button class="btn btn-light btn-sm" (click)="showLegendModal()">{{ t('texts.displayLegend') }}</button>
        <button type="button" class="btn btn-light btn-sm" (click)="maximizeChart()">{{ t('texts.maximize') }} <i
          class="fa-solid fa-maximize"></i></button>
      </div>
    }

    <app-data-chart [dataset]="datasets" [labels]="labels"/>
    <!--  <button class="btn btn-light" type="button" (click)="dataChart.resetChartZoom()">Restableix zoom</button>-->

    @if ((currentBreakpoint$ | async)! >= BreakPoints.MD) {

      <div class="mt-4">
        <app-chart-legend [labels]="legendLabels"/>
      </div>
      <div class="mt-5 small">

      <p>
        {{ t('texts.chartUpdateWarning') }}
      </p>
      <p>
        {{ t('texts.chartBottomText') }}
      </p>

      </div>

        }
    <div *ngIf="chartStoreService.snapshot().lastFetchedStats.length">
      <hr class="my-5">
      <app-data-totals [datasets]="datasets" [showCommunity]="showCommunity$ | async"  [cce]="cce" />
    </div>

  } @else {
    <div class="w-100 d-flex justify-content-center flex-column gap-2 align-items-center">
      <h4>{{ t('texts.loadingData') }}</h4>
      <div>
        <i class="fa-solid fa-spinner fa-spin"></i>
      </div>
    </div>
  }

</ng-container>
