<ng-container *transloco="let t; prefix: 'MY-COMMUNITY.modals.joinCommunity'">
  <div class="modal-header border-0">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body pt-0">
    <h4 class="modal-title text-center mb-4">{{ t('title') }}</h4>

    <form [formGroup]="formData" (submit)="joinCommunity()" id="form">

      <div>
        <label class="form-label">
          {{ t('texts.municipally') }}
        </label>
        <select class="form-select bg-white shadow-none border-secondary" [(ngModel)]="selectedLocationId"
                (change)="getCommunitiesByLocation()" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let location of locations" [value]="location.id">{{ location.municipality }}</option>
        </select>
      </div>

      <div class="mt-3" *ngIf="selectedLocationId">
        <label class="form-label">
          {{ t('texts.community') }}
        </label>
        <select *ngIf="communities && communities.length" class="form-select bg-white shadow-none border-secondary"
                formControlName="communityId">
          <option *ngFor="let community of communities" [value]="community.id">{{ community.name }}</option>
        </select>

        <p *ngIf="communities && !communities.length"> {{ t('texts.noCommunity') }}</p>
      </div>
    </form>
  </div>
  <div class="modal-footer border-0 justify-content-center mb-3">
    <button class="btn btn-outline-secondary" form="form" type="submit">
      {{ 'GENERIC.texts.save' | transloco }}
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">
      {{ 'GENERIC.texts.close' | transloco }}
    </button>
  </div>
</ng-container>
