<ng-container *transloco="let t; prefix: 'HISTORIC-CHART'">
  <div class="row mx-0">
    <div class="col my-3 text-center">
      <h5>{{ t('texts.chartLabels.totalProduction') }}</h5>
      <span>{{ totalProduction }} kWh</span>
    </div>
    <div class="col my-3 text-center">
      <h5>{{ t('texts.chartLabels.totalActiveProduction') }}</h5>
      <span>{{ totalActiveProduction }} kWh</span>
    </div>
    <div class="col my-3 text-center">
      <h5>{{ t('texts.chartLabels.totalConsumption') }}</h5>
      <span>{{ totalConsumption }} kWh</span>
    </div>
    <div class="col my-3 text-center">
      <h5>{{ t('texts.chartLabels.totalSurplus') }}</h5>
      <span>{{ totalSurplus }} kWh</span>
    </div>
    <div class="col my-3 text-center">
      <h5>{{ t('texts.chartLabels.totalCo2') }}</h5>
      <span>{{ totalCo2.toFixed(2) }} tn CO2</span>
    </div>
  </div>
</ng-container>
