<ng-container *transloco="let t; prefix: 'MY-WALLET'">
  <h4 class="mt-5 mx-5">{{ t('title') }}</h4>
  <div class="container mt-5 my-5">
    <div>

      <div class="row mb-3">

        <div class="col-6 justify-content-end text-end pe-md-5">
          <button class="btn rounded-3 py-3 px-lg-5 section-btn" type="button" (click)="changeSection('Platform')"
            [ngClass]="activeSection=='Platform' ? 'btn-tertiary' : 'btn-outline-tertiary' ">
            {{ t('texts.platformSection') }}
          </button>
        </div>

        <div class="col-6 ps-md-5">
          <button class="btn rounded-3 py-3 px-lg-5 section-btn" type="button" (click)="changeSection('Blockchain')"
            [ngClass]="activeSection=='Blockchain' ? 'btn-tertiary' : 'btn-outline-tertiary' ">
            {{ t('texts.blockchainSection') }}
          </button>
        </div>

      </div>

      @if (activeSection == 'Platform') {
      <div>

        <!-- Saldo energètic -->

        <div class="my-3">
          <label class="form-label">
            {{ t('texts.communityBalance') }}

            <app-question-badge>
              <div class="my-3">
                {{ t('tooltips.energy') }}
              </div>
            </app-question-badge>
          </label>

          <div class="d-block d-lg-flex" *ngIf="customer">

            <div class="input-group form-div-width">
              <input readonly type="text"
                class="form-control form-control-lg bg-white border-secondary border-2 shadow-none" placeholder=""
                [ngModel]="customer.balance | noRoundDecimal: 4">
              <button class="btn btn-tertiary rounded-end-3 form-button" type="button">EKW</button>
            </div>

            <button class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length"
              type="button" (click)="openTransferModal('EKW', ekwBalance, 'add','balance')">
              {{ t('texts.addBalance') }}
            </button>

            <button class="btn btn-quaternary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length" type="button"
              (click)="openTransferModal('EKW', customer.balance,'pullOut','balance')">
              {{ t('texts.pullOutBalance') }}
            </button>

          </div>

        </div>

        <!-- Betas -->

        <!-- <div *ngIf="communityId" class="my-3">
          <label class="form-label">
            {{ t('texts.communityShare') }}

            <app-question-badge>
              <div class="my-3">
                {{ t('tooltips.shares') }}
              </div>
            </app-question-badge>
          </label>
          <div class="d-block d-lg-flex">
            <div class="input-group form-div-width">
              <input readonly type="text"
                class="form-control form-control-lg bg-white border-secondary border-2 shadow-none" placeholder=""
                [ngModel]="voteWeight">
              <button class="btn btn-tertiary rounded-end-3 form-button" type="button">DAO</button>
            </div>
            <button class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length"
              type="button" (click)="openTransferModal('DAO', voteWeight, 'transfer','betas')">
              {{ t('texts.transferShare') }}
            </button>
          </div>

        </div> -->

      </div>
      }
      @if (activeSection == 'Blockchain') {
      <div>
        <!-- wallet -->
        <div class="mb-3">
          <label class="form-label" for="wallet">
            {{ t('texts.identityLabel') }}
            <app-question-badge>
              <div class="my-3">
                {{ t('tooltips.identity') }}
              </div>
            </app-question-badge>
          </label>

          <div class="d-block d-lg-flex">
            <div class="input-group form-div-width">

              <app-qr-generator class="w-100 form-div-width input-group" [btnPxWidth]="'50px'"
                [qrText]="wallet$ | async"
                [btnClasses]="'btn-tertiary rounded-end-3 px-0 d-flex justify-content-center'">

                <input readonly id="wallet" type="text"
                  class="form-control form-control-lg bg-white border-secondary border-2 shadow-none"
                  [value]="wallet$ | async">

                <button class="btn btn-secondary" type="button" (click)="copyToClipboard(walletAddress)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                  </svg>
                </button>

              </app-qr-generator>
            </div>

            <a [href]="'https://gnosisscan.io/address/' + (wallet$ | async)" target="_blank" type="button"
              class="btn-default-length">
              <button
                class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length d-flex justify-content-center align-items-center">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.8406 0.5C12.1492 0.5 11.5906 1.05859 11.5906 1.75C11.5906 2.44141 12.1492 3 12.8406 3H16.071L8.20776 10.8672C7.71948 11.3555 7.71948 12.1484 8.20776 12.6367C8.69604 13.125 9.48901 13.125 9.97729 12.6367L17.8406 4.76953V8C17.8406 8.69141 18.3992 9.25 19.0906 9.25C19.782 9.25 20.3406 8.69141 20.3406 8V1.75C20.3406 1.05859 19.782 0.5 19.0906 0.5H12.8406ZM3.46558 1.75C1.73901 1.75 0.340576 3.14844 0.340576 4.875V17.375C0.340576 19.1016 1.73901 20.5 3.46558 20.5H15.9656C17.6921 20.5 19.0906 19.1016 19.0906 17.375V13C19.0906 12.3086 18.532 11.75 17.8406 11.75C17.1492 11.75 16.5906 12.3086 16.5906 13V17.375C16.5906 17.7188 16.3093 18 15.9656 18H3.46558C3.12183 18 2.84058 17.7188 2.84058 17.375V4.875C2.84058 4.53125 3.12183 4.25 3.46558 4.25H7.84058C8.53198 4.25 9.09058 3.69141 9.09058 3C9.09058 2.30859 8.53198 1.75 7.84058 1.75H3.46558Z"
                    fill="white" />
                </svg>
              </button>
            </a>

          </div>

        </div>

        <!-- Clau privada -->
        <label class="form-label" for="wallet">
          {{ t('texts.pkLabel') }}
          <app-question-badge>
            <div class="my-3">
              {{ t('tooltips.pk') }}
            </div>
          </app-question-badge>
        </label>

        <div class="input-group mb-1">
          <input readonly id="pk" type="{{textOrPwd}}"
            class="form-control form-control-lg bg-white border-secondary border-2 shadow-none" [value]="pk">

          <button class="btn btn-secondary" type="button" (click)="copyToClipboard(pk)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
            </svg>
          </button>

          <button class="btn btn-tertiary " type="button" (click)="togglePasswordVisibility()">

            @if (isPasswordVisible) {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
              viewBox="0 0 16 16">

              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
            </svg>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash"
              viewBox="0 0 16 16">
              <path
                d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
              <path
                d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
              <path
                d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
            </svg>
            }

          </button>



        </div>
        <small>{{ t('texts.pkWarning') }}</small>

        <hr class="my-4 border-tertiary border-2">
        <p class="mb-5">{{ t('texts.transferInfo') }}</p>

        <div class="my-3">
          <label class="form-label">
            {{ t('texts.energyAmount') }}

            <app-question-badge>
              <div class="my-3">
                {{ t('tooltips.energy') }}
              </div>
            </app-question-badge>
          </label>
          <div class="d-block d-lg-flex">
            <div class="input-group form-div-width">
              <input readonly type="text"
                class="form-control form-control-lg bg-white border-secondary border-2 shadow-none"
                [ngModel]="ekwBalance | noRoundDecimal: 4">
              <button class="btn btn-tertiary rounded-end-3 form-button" type="button">EKW</button>

            </div>
            <button class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length"
              type="button" (click)="openTransferModal('EKW', ekwBalance, 'transfer','tokens')">
              {{ t('texts.transferEnergy') }}
            </button>
            <button class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length"
              type="button" (click)="openAddEkwModal()">
              {{ t('texts.addEnergy') }}
            </button>
          </div>

        </div>

        <div class="my-3">
          <label class="form-label">
            {{ t('texts.tokenAmount') }}

            <app-question-badge>
              <div class="my-3">
                {{ t('tooltips.token') }}
              </div>
            </app-question-badge>
          </label>
          <div class="d-block d-lg-flex">
            <div class="input-group form-div-width">
              <input readonly type="text"
                class="form-control form-control-lg bg-white border-secondary border-2 shadow-none" placeholder=""
                [ngModel]="chainBalance | noRoundDecimal: 4">
              <button class="btn btn-tertiary rounded-end-3 form-button" type="button">XDAI</button>

            </div>
            <button class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length"
              type="button" (click)="openTransferModal('XDAI', chainBalance,'transfer','tokens')">
              {{ t('texts.transferToken') }}
            </button>

          </div>

        </div>

        <!-- Betas -->

        <div *ngIf="communityId" class="my-3">
          <label class="form-label">
            {{ t('texts.communityShare') }}

            <app-question-badge>
              <div class="my-3">
                {{ t('tooltips.shares') }}
              </div>
            </app-question-badge>
          </label>
          <div class="d-block d-lg-flex">
            <div class="input-group form-div-width">
              <input readonly type="text"
                class="form-control form-control-lg bg-white border-secondary border-2 shadow-none" placeholder=""
                [ngModel]="voteWeight">
              <button class="btn btn-tertiary rounded-end-3 form-button" type="button">DAO</button>
            </div>
            <button class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3 btn-default-length"
              type="button" (click)="openTransferModal('DAO', voteWeight,'transfer','betas')">
              {{ t('texts.transferShare') }}
            </button>
          </div>

        </div>


      </div>
      }


    </div>
  </div>
</ng-container>