<div class="navbar-container bg-primary d-flex align-items-center justify-content-between">
  <li class="nav-item me-auto">
    <app-logo height="40px"/>
  </li>

  <app-user-profile-button/>


  <button type="button" class="btn btn-link text-white" style="font-size: 1.5rem" (click)="showMenu(menu)">
    <i class="fa-solid fa-bars"></i>
  </button>
</div>

<ng-template #menu let-modal>
  <div class="h-100" style="background-color: rgba(255, 255, 255, 0.9)">
    <div class="w-100 d-flex justify-content-end">
      <button type="button" class="btn btn-white" style="font-size: 1.5rem" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <i class="fa-solid fa-close"></i>
      </button>
    </div>

    <nav class="navbar navbar-expand-md text-center">
      <div class="container-fluid">
        <div class="navbar-collapse collapse show">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @for (button of buttons; track $index) {
              <li class="nav-item">
                <a [routerLink]="button.route" [routerLinkActive]="'active'" (click)="modal.close('')"
                   class="nav-link">{{ button.label }}</a>
              </li>
            }

            <li *ngIf="hasCommunity" class="nav-item" ngbDropdown>
              <a class="nav-link" tabindex="0" ngbDropdownToggle id="governor-link"
                 role="button"> {{ 'GOVERNOR.navbar' | transloco }} </a>
              <div ngbDropdownMenu aria-labelledby="governor-link" class="dropdown-menu text-center">
                <a ngbDropdownItem
                   [routerLink]="'/governance/proposals'"
                   [routerLinkActive]="'active'"
                   (click)="modal.close('')">{{ 'PROPOSALS.navbar' | transloco }}</a>
                <a ngbDropdownItem
                   [ngClass]="{'d-none': userRole?.toLowerCase() == 'user'}"
                   [routerLink]="'/governance/participants'"
                   [routerLinkActive]="'active'"
                   (click)="modal.close('')">{{ 'PARTICIPANTS.navbar' | transloco }}</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</ng-template>
