<ng-container *transloco="let t;">
  <div class="container-page animate__animated animate__fadeIn">
    <h4>{{ t('PROFILE.title') }}</h4>

    <form class="row mt-5" [formGroup]="formGroup">
      <ng-container *transloco="let t; prefix: 'PROFILE'">
        <div class="col-12 col-md-6">
          <label class="form-label" for="name">{{ t('texts.nameLabel') }}</label>
          <input id="name" type="text" class="form-control form-control-lg bg-white border-2 border-secondary" formControlName="firstname">
        </div>

        <div class="col-12 col-md-6">
          <label class="form-label" for="lastname">{{ t('texts.lastnameLabel') }}</label>
          <input id="lastname" type="text" class="form-control form-control-lg bg-white border-2 border-secondary" formControlName="lastname">
        </div>
      </ng-container>

      <ng-container *transloco="let t; prefix: 'GENERIC'">
        <div class="col-12 col-md-6 mt-5">
          <div class="w-100 d-flex justify-content-end">
            <button (click)="saveData()" type="button" class="btn btn-primary py-2 px-5" [ngClass]="{'w-100': expandButtons$ | async}">
              {{ t('texts.save') }}
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-2 mt-md-5">
          <div class="w-100 d-flex justify-content-start">
            <button type="button" class="btn btn-secondary py-2 px-5" [ngClass]="{'w-100': expandButtons$ | async}">
              {{ t('texts.cancel') }}
            </button>
          </div>
        </div>
      </ng-container>

    </form>
  </div>
</ng-container>

