<ng-container *transloco="let t; prefix: 'MISSING-COMMUNITY'">
<div class="container d-flex flex-column justify-content-center h-100 animate__animated animate__fadeIn">
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center mb-5">
      <img src="../../../../../../../assets/img/phantom.svg" alt="cute phantom image" class="ghost-img" style="">

    </div>
    <div class="mb-5 text-center">
      <div  *ngIf="!pendingInvitation">
        <h5>{{ t('texts.anyAccess') }}
          <!-- <app-question-badge>
            Necessites formar part d'una comunitat per poder accedir
          </app-question-badge> -->
        </h5>
        <h5>
          {{ t('texts.accessDescription') }}
        </h5>
      </div>

      <h5 *ngIf="pendingInvitation && pendingCommunity">
        {{ t('texts.pendingCommunity', {community: pendingCommunity.name})}}
      </h5>
    </div>
    <div *ngIf="!pendingInvitation" class="col-12 d-flex justify-content-center">
      <button (click)="openAddModal()" type="button" class="btn btn-primary bg-primary fw-medium">{{ t('texts.register') }}</button>
      <button (click)="openJoinModal()" type="button" class="btn btn-secondary bg-secondary fw-medium ms-4">{{ t('texts.join') }}</button>
    </div>
  </div>
</div>
</ng-container>
