<ng-container *transloco="let t;">
    <div class="container mt-5 mb-3">
        <h4>{{ t('INTEGRATIONS.title') }}</h4>

        <div class="my-3">
            <label class="form-label" for="permanent-token">
                {{ t('INTEGRATIONS.texts.token') }}
            </label>
            <div class="input-group mb-3">
                <input readonly id="permanent-token" type="text"
                    class="form-control form-control-lg bg-white border-secondary border-2 shadow-none"
                    [value]="permanentToken">
                <button class="btn btn-secondary" type="button" (click)="refreshPermanentToken()">
                    {{ t('INTEGRATIONS.texts.refreshPermanentToken') }}
                </button>
            </div>
        </div>

        <div class="my-3">
            <button class="btn btn-secondary bg-primary" type="button" (click)="refreshPermanentToken()">
                {{ t('INTEGRATIONS.texts.documentation') }}
            </button>
        </div>

    </div>
</ng-container>