<ng-container *transloco="let t; prefix: 'SHARE-ENERGY'">
  <div class="container-page animate__animated animate__fadeIn">
    <div class="my-4">


      <!-- <p class="mt-4 fs-5"> {{ t('texts.chooseData') }} </p> -->
      <div class="row">
        <div class="col"><h4 class="fw-semibold"> {{ t('title') }} </h4></div>
        <div class="col-auto mb-3">
          <div class="btn-group w-100">
            <button class="btn"
                    [ngClass]="{'btn-active':infoDisplay=='customer','btn-secondary':infoDisplay=='community'}"
                    (click)="infoDisplay='customer'; getData()">{{ t('texts.myShares') }}
            </button>

            <button class="btn"
                    [ngClass]="{'btn-active':infoDisplay=='community','btn-secondary':infoDisplay=='customer'}"
                    (click)="infoDisplay='community'; getData()">{{ t('texts.communitaryShares') }}
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        @if (customer) {
          <div class="col-md mb-3">
          <span class="my-2">{{ t('texts.availableBalance') }} : <b class="color-tertiary">{{ customer.balance }}
            EKW</b></span>
          </div>
        }
        @if (communityData && communityData.energyPrice) {
          <div class="col-md mb-3">
          <span>{{ t('texts.buyingPrice') }} : <b class="color-tertiary">{{ communityData.energyPrice }}
            €/kWh</b></span>
          </div>
          <div class="col-md mb-3">
          <span>{{ t('texts.sellingPrice') }} : <b class="color-tertiary"> {{ communityData.energyPrice }}
            €/kWh</b></span>
          </div>
        }
      </div>


      <div class="row">
        <div class="col-12 col-md-4 my-2">
          <label class="form-label">
            {{ t('texts.from') }}
          </label>
          <p-calendar [(ngModel)]="fromDate" iconDisplay="input" [showIcon]="true" view="date"
                      [defaultDate]="defaultDate" (onClose)="getData('from')"
                      [minDate]="minToDate!" [dateFormat]="'dd/mm/yy'" styleClass="w-100"/>
        </div>
        <div class="col-12 col-md-4 my-2">
          <label class="form-label">
            {{ t('texts.to') }}
          </label>
          <p-calendar [(ngModel)]="toDate" iconDisplay="input" [showIcon]="true" view="date" [defaultDate]="defaultDate"
                      (onClose)="getData('to')"
                      [minDate]="minToDate!" [maxDate]="maxDate!" [dateFormat]="'dd/mm/yy'" styleClass="w-100"/>
        </div>
        <div class="col-12 col-md-4 my-2">
          <label class="form-label">
            {{ t('texts.totalShared') }}
          </label>
          <div class="input-group w-100">
            <input [(ngModel)]="totalShared" class="form-control disabled" readonly disabled/>
            <span class="input-group-text">kWh</span>
          </div>
        </div>
      </div>
    </div>

    <!-- CUSTOMER DATA -->
    <div class="row">
      <div class="d-none d-lg-block">

        <p-table tableStyleClass="table table-striped align-middle"
                 [value]="tradesData"
                 [scrollable]="true"
                 scrollHeight="400px"
                 [rows]="100"
                 [virtualScroll]="true"
                 [virtualScrollItemSize]="70"
                 [loading]="loading"
                 [lazy]="true">
          <ng-template pTemplate="header" let-columns>
            <tr class="" style="height: 50px !important;">
              <th
                style="font-weight: 700 !important; box-shadow: inset 0 2px 0 #959150, inset 0 -2px 0 #959150; padding: 10px 8px; max-width: 20%; width: 100%"
                scope="col">{{ t('texts.date') }}
              </th>
              <th
                style="font-weight: 700 !important; box-shadow: inset 0 2px 0 #959150, inset 0 -2px 0 #959150; padding: 10px 8px; max-width: 15%; width: 100%"
                scope="col">{{ t('texts.action') }}
              </th>
              <th
                style="font-weight: 700 !important; box-shadow: inset 0 2px 0 #959150, inset 0 -2px 0 #959150; padding: 10px 8px; max-width: 15%; width: 100%"
                scope="col">{{ t('texts.amount') }}
              </th>
              <th
                style="font-weight: 700 !important; box-shadow: inset 0 2px 0 #959150, inset 0 -2px 0 #959150; padding: 10px 8px; max-width: 20%; width: 100%"
                scope="col">{{ t('texts.total') }}
              </th>
              <th
                style="font-weight: 700 !important; box-shadow: inset 0 2px 0 #959150, inset 0 -2px 0 #959150; padding: 10px 8px; max-width: 10%; width: 100%"
                scope="col">{{ t('texts.emitter') }}
              </th>
              <th
                style="font-weight: 700 !important; box-shadow: inset 0 2px 0 #959150, inset 0 -2px 0 #959150; padding: 10px 8px; max-width: 10%; width: 100%"
                scope="col">{{ t('texts.receiver') }}
              </th>
              <th
                style="font-weight: 700 !important; box-shadow: inset 0 2px 0 #959150, inset 0 -2px 0 #959150; padding: 10px 8px; max-width: 15%; width: 100%"
                scope="col">{{ t('texts.result') }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr style="height:70px">
              <td>{{ rowData.infoDt | date:'dd-MM-yyyy HH:mm' }}</td>
              <td>
              <span *ngIf="rowData.action == 'BUY'"
                    class="badge buy-badge d-flex align-items-center justify-content-center fw-normal">
                {{ t('texts.actions.buy') }}
              </span>
                <span *ngIf="rowData.action == 'SELL'"
                      class="badge text-bg-success d-flex align-items-center justify-content-center fw-normal">
                  {{ t('texts.actions.sell') }}
                </span>
              </td>
              <td>
                {{ rowData.tradedKwh | noRoundDecimal:3 }} kWh
              </td>
              <td>
                <span
                  *ngIf="rowData.cost > 0">{{ rowData.action === 'BUY' ? '-' : (rowData.action === 'SELL' ? '+' : '') }}</span>
                {{ rowData.cost | noRoundDecimal:3 }} EKW
                <app-question-badge>
                  <div class="my-3">
                    {{ t('tooltips.ekw') }}
                  </div>
                </app-question-badge>
              </td>

              <td>
                {{ (rowData.fromWalletAddress || '' | TextShorter:6:4) || t('texts.anonymous') }}
              </td>

              <td>
                {{ (rowData.toWalletAddress || '' | TextShorter:6:4) || t('texts.anonymous') }}
              </td>

              <td>
                <span class="text-decoration-line-through d-block" style="font-size: 14px">{{
                    rowData.previousKwh |
                      noRoundDecimal:3
                  }} kWh</span>
                <span class="fw-semibold">{{ rowData.currentKwh | noRoundDecimal:3 }} kWh</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody" let-columns="columns">
            wait...
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center" colspan="7">{{ t('texts.noData') }}</td>
            </tr>
          </ng-template>
        </p-table>


      </div>

      <div *ngIf="!loading" class="overflow-y-scroll" style="max-height: 440px">

        <div class="d-block d-lg-none">
          <div *ngFor="let data of tradesData" class="card my-3 border-2 border-tertiary">
            <div class="card-body">
              <div class="mt-2 mb-4">
                <span *ngIf="data.action == 'BUY'"
                      class="badge buy-badge d-flex align-items-center justify-content-center fw-normal">
                  {{ t('texts.actions.buy') }}
                </span>
                <span *ngIf="data.action == 'SELL'"
                      class="badge text-bg-success d-flex align-items-center justify-content-center fw-normal">
                  {{ t('texts.actions.sell') }}
                </span>
              </div>

              <div class="row">
                <div class="col-6 border-end-custom py-3 px-4">
                  <p class="fw-semibold mb-1">{{ t('texts.amount') }}</p>
                  <span class="mx-auto">
                    {{ data.tradedKwh | noRoundDecimal:3 }} kWh
                  </span>
                </div>
                <div class="col-6 border-start-custom py-3 px-4">
                  <div class="mx-auto card-custom-div">
                    <p class="fw-semibold mb-1">{{ t('texts.total') }}</p>
                    <span *ngIf="data.cost > 0">
                    {{ data.action === 'BUY' ? '-' : (data.action === 'SELL' ? '+' : '') }}
                  </span>
                    {{ data.cost | noRoundDecimal:3 }} EKW
                    <app-question-badge>
                      <div class="my-3">
                        {{ t('tooltips.ekw') }}
                      </div>
                    </app-question-badge>
                  </div>
                </div>
                <div class="col-6 border-end-custom py-3 px-4">
                  <p class="fw-semibold mb-1">{{ t('texts.emitter') }}</p>
                  <span class="mx-auto">
                    {{ (data.fromWalletAddress || '' | TextShorter:6:4) || t('texts.anonymous') }}
                  </span>
                </div>
                <div class="col-6 border-start-custom py-3 px-4">
                  <div class="mx-auto card-custom-div">
                    <p class="fw-semibold mb-1">{{ t('texts.receiver') }}</p>
                    <span class="mx-auto">
                    {{ (data.toWalletAddress || '' | TextShorter:6:4) || t('texts.anonymous') }}
                    </span>
                  </div>

                </div>
                <div class="col-6 border-end-custom border-tertiary py-3 px-4">
                  <p class="fw-semibold mb-1">{{ t('texts.mobileEnergyCurrent') }}</p>
                  <span>
                    {{ data.previousKwh | noRoundDecimal:3 }} kWh</span>
                </div>
                <div class="col-6 border-start-custom border-tertiary py-3 px-4">
                  <div class="mx-auto card-custom-div">
                    <p class="fw-semibold mb-1">{{ t('texts.mobileEnergyLeft') }}</p>
                    <span>{{ data.currentKwh | noRoundDecimal:3 }} kWh</span>
                  </div>

                </div>
              </div>
              <div class="text-end mt-4">
                <span class="text-body-secondary">{{ data.infoDt | date:'dd-MM-yyyy HH:mm' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-block d-lg-none">
        <div *ngIf="loading" class="text-center mt-5">
          <i class="fa-solid fa-spinner fa-spin fs-2"></i>
        </div>

        <div class="mt-2">
          <p *ngIf="tradesData && tradesData.length" [ngClass]="{ 'text-center': loading}">
            {{ t('texts.bottomTable') }}
          </p>
          <p class="text-center" *ngIf=" (!tradesData || !tradesData.length) && !loading">
            {{ t('texts.noData') }}
          </p>
        </div>
      </div>


    </div>

    <!-- COMMUNITY DATA -->

    <!-- <div class="row" *ngIf="infoDisplay=='community'">

       <div *ngIf="!loading" class="overflow-y-scroll" style="max-height: 440px">
         <div class="d-none d-lg-block">
           <table class="table table-striped align-middle">
             <thead>
             <tr class="border-2 border-end-0 border-start-0 border-tertiary" style="height: 50px !important;">
               <th style="max-width: 20%; width: 100%" scope="col">{{ t('texts.date') }}</th>
               <th style="max-width: 20%; width: 100%" scope="col">{{ t('texts.action') }}</th>
               <th style="max-width: 20%; width: 100%" scope="col">{{ t('texts.amount') }}</th>
               <th style="max-width: 10%; width: 100%" scope="col">{{ t('texts.total') }}</th>
               <th style="max-width: 10%; width: 100%" scope="col">{{ t('texts.emitter') }}</th>
               <th style="max-width: 10%; width: 100%" scope="col">{{ t('texts.receiver') }}</th>
               <th style="max-width: 10%; width: 100%" scope="col">{{ t('texts.result') }}</th>
               &lt;!&ndash; <th scope="col">{{ t('texts.result') }}</th> &ndash;&gt;
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let data of communityTradesData" style="height: 50px">
               <td>{{ data.infoDt | date:'dd-MM-yyyy HH:mm' }}</td>
               <td>
               <span *ngIf="data.action == 'BUY'"
                     class="badge buy-badge d-flex align-items-center justify-content-center fw-normal"> {{
                   t('texts.actions.buy')
                 }} </span>
                 <span *ngIf="data.action == 'SELL'"
                       class="badge text-bg-success d-flex align-items-center justify-content-center fw-normal"> {{
                     t('texts.actions.sell')
                   }} </span>
               </td>
               <td>
                 {{ data.tradedKwh | noRoundDecimal:3 }} kWh
               </td>
               <td>
                 <span
                   *ngIf="data.cost > 0">{{ data.action === 'BUY' ? '-' : (data.action === 'SELL' ? '+' : '') }}</span>
                 {{ data.cost | noRoundDecimal:3 }} EKW
                 <app-question-badge>
                   <div class="my-3">
                     {{ t('tooltips.ekw') }}
                   </div>
                 </app-question-badge>
               </td>

               <td>
                 {{ (data.fromWalletAddress || '' | TextShorter:6:4) || t('texts.anonymous') }}
               </td>

               <td>
                 {{ (data.toWalletAddress || '' | TextShorter:6:4) || t('texts.anonymous') }}
               </td>

               <td><span class="text-decoration-line-through d-block" style="font-size: 14px">{{
                   data.previousKwh |
                     noRoundDecimal:3
                 }} kWh</span>
                 <span class="fw-semibold">{{ data.currentKwh | noRoundDecimal:3 }} kWh</span>
               </td>
             </tr>
             </tbody>
           </table>
         </div>
       </div>

       <div class="mt-2">
         <p *ngIf="communityTradesData && communityTradesData.length">
           {{ t('texts.bottomTable') }}
         </p>
         &lt;!&ndash; <p class="text-center" *ngIf=" !communityTradesData || !communityTradesData.length">
           {{ t('texts.noData') }}
         </p> &ndash;&gt;
         <div *ngIf=" !communityTradesData || !communityTradesData.length" class="d-flex justify-content-center">
           <div class="spinner-border" role="status">
             <span class="sr-only">Loading...</span>
           </div>
         </div>

       </div>

     </div>-->


  </div>
</ng-container>
