<ng-container *transloco="let t; prefix: 'MY-COMMUNITY'" class="w-100">
  <div class="container-page">
    <div class="row g-2 mb-2">
      <div class="col-auto">
         <h4 style="font-weight: 600;">{{ t('navbar') }} {{ communityData.name }}</h4>
      </div>
      <div class="col-auto align-bottom">
        <button class="btn btn-primary bg-primary rounded-3 btn-sm" (click)="openEditModal()">
          <i class="fa-solid fa-pencil"></i>
        </button>
      </div>

    </div>
<div class="mb-3" style="max-width: 300px">
  <select class="form-select w-100 bg-white shadow-none" readonly >
    <option>
      {{ t('texts.totalProduction') }}
    </option>
    <option >
      Com. Montolivet Olot
    </option>
  </select>
</div>
    <div class="row">
      <div class="col-md">
        <p class="mb-0" *ngIf="communityData">
         {{ t('texts.tradeTypeLabel', {type: getTradeTypeTranslation(communityData.tradeType)}) }}
      </p>

      <p class="mb-0">
        {{ t('texts.communityMembers') }} {{ totalMembers$ | async }}
      </p>
      <p class="mb-0">{{ t('texts.activeMembers') }} {{ (activeMembers$ | async) }}</p>
      @if(communityData && communityData.energyPrice) {
      <p class="mb-0">{{ t('texts.buyingPrice') }} : <b class="color-tertiary"> {{communityData.energyPrice}}€/kWh</b></p>
      <p class="mb-0">{{ t('texts.sellingPrice') }} : <b class="color-tertiary"> {{communityData.energyPrice}}€/kWh </b></p>
      }
      <p><i class="fa-solid fa-battery-full"></i> 0%</p>
      </div>
      <div class="col-md text-end">
         <p class="mb-0 fst-italic">{{ t('texts.liveWaste') }} <i
          class="ms-1 fa-solid fa-rss fa-fade text-success"></i></p>
        @if (lastUpdate$ | async) {
        <p class="mb-0">{{ t('texts.updatedAt') }} {{ lastUpdate$ | async }} <span class="ms-1 text-success"
            style="font-size: 0.8rem;"><i class="fa-solid fa-circle"></i></span></p>
        } @else {
        <p>{{ t('texts.noDataRegistered') }}</p>
        }
      </div>

    </div>
    <div class="row justify-content-evenly w-100 mt-2" style="margin-bottom: 2rem;">

      <div class="col-6 col-lg my-3">
        @if(isValidNumber(powerFlow().buy)){
        <app-stat-display [disabled]="powerFlow().buy === 0" width="20%" [color]="StatsColors.CONSUMPTION"
          label="{{ t('texts.consumption') }}" [text]="powerFlow().buy.toFixed(2) + ' KWH'" />
        }
        @else{
        <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
          label="{{ t('texts.consumption') }}" [text]="t('texts.unavailable')" />
        }
      </div>

      <div class="col-6 col-lg my-3">
        @if(isValidNumber(powerFlow().inHouse)){
        <app-stat-display [disabled]="powerFlow().inHouse === 0" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
          label="{{ t('texts.selfConsumption') }}" [text]="powerFlow().inHouse.toFixed(2) + ' KWH'" />
        }
        @else{
        <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
          label="{{ t('texts.selfConsumption') }}" [text]="t('texts.unavailable')" />
        }
      </div>

      <div class="col-6 col-lg my-3">
        @if(isValidNumber(powerFlow().production)){
        <app-stat-display width="20%"
          [color]="StatsColors.COMMUNITY_PRODUCTION" label="{{ t('texts.generatedEnergy') }}"
          [text]="powerFlow().production.toFixed(2) + ' KWH'" />
        }
        @else{
        <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
          label="{{ t('texts.generatedEnergy') }}" [text]="t('texts.unavailable')" />
        }
      </div>

      <div class="col-6 col-lg my-3">
        @if(isValidNumber(powerFlow().sell)){
        <app-stat-display [disabled]="powerFlow().sell === 0" width="20%" [color]="StatsColors.SURPLUS"
          label="{{ t('texts.surplus') }}" [text]="powerFlow().sell.toFixed(2) + ' KWH'" />
        }
        @else{
        <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
          label="{{ t('texts.surplus') }}" [text]="t('texts.unavailable')" />
        }
      </div>
    </div>

    <hr>

    <div style="margin-bottom: 2rem;">
      <app-historic-chart [chartType]="'community'" [data]="communityData"/>
    </div>

  </div>

  <div class="row mx-0" style="background-color: white;">
    <div class="col-12 prediction-container">
      <!-- <div class="d-flex justify-content-center prediction-container"> -->
      <app-metereologic-prediction/>
      <!-- </div> -->
    </div>
  </div>

  <div class="row mx-0 mb-5">
    <div class="col-12 prediction-container">
      <app-energy-prediction [community]="true"/>
    </div>
  </div>

</ng-container>
