<ng-container *transloco="let t; prefix: 'MY-COMMUNITY'">
  <div class="container-page">
    <div class="d-flex flex-wrap justify-content-between flex-wrap-reverse gap-5">
      <h4 style="font-weight: 600;">{{ t('title') }}</h4>

      <div class="d-flex flex-column">
        <p class="fst-italic">{{ t('texts.liveWaste') }} <span><i
              class="fa-solid fa-rss fa-fade text-success"></i></span></p>
        @if (lastUpdate$ | async) {
        <p>{{ t('texts.updatedAt') }} {{ lastUpdate$ | async }} <span class="ms-3 text-success"
            style="font-size: 0.8rem;"><i class="fa-solid fa-circle"></i></span></p>
        } @else {
        <p>{{ t('texts.noDataRegistered') }}</p>
        }
      </div>
    </div>

    <div class="w-100 d-flex flex-column">
      <span>{{ t('texts.communityMembers') }} {{ totalMembers$ | async }}
      </span>
      <span>{{ t('texts.activeMembers') }} {{ (activeMembers$ | async) }}</span>
      @if(communityData && communityData.energyPrice) {
        <span>{{ t('texts.buyingPrice') }} : <b class="color-tertiary"> {{communityData.energyPrice}}€/kWh</b></span>
        <span>{{ t('texts.sellingPrice') }} : <b class="color-tertiary"> {{communityData.energyPrice}}€/kWh </b></span>
      }
      <span><i class="fa-solid fa-battery-full"></i> 0%</span>
    </div>
    <div class="row justify-content-evenly w-100 mt-2" style="margin-bottom: 2rem;">

      <div class="col-6 col-lg my-3">
        <app-stat-display [disabled]="powerFlow().buy === 0" width="20%" [color]="StatsColors.CONSUMPTION"
          label="{{ t('texts.consumption') }}" [text]="powerFlow().buy.toFixed(2) + ' KWH'" />
      </div>

      <div class="col-6 col-lg my-3">
        <app-stat-display [disabled]="powerFlow().inHouse === 0" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
          label="{{ t('texts.selfConsumption') }}" [text]="powerFlow().inHouse.toFixed(2) + ' KWH'" />
      </div>


      <div class="col-6 col-lg my-3">
        <app-stat-display [disabled]="powerFlow().production === 0" width="20%"
          [color]="StatsColors.COMMUNITY_PRODUCTION" label="{{ t('texts.generatedEnergy') }}"
          [text]="powerFlow().production.toFixed(2) + ' KWH'" />
      </div>

      <div class="col-6 col-lg my-3">
        <app-stat-display [disabled]="powerFlow().sell === 0" width="20%" [color]="StatsColors.SURPLUS"
          label="{{ t('texts.surplus') }}" [text]="powerFlow().sell.toFixed(2) + ' KWH'" />
      </div>
    </div>

    <hr>

    <div style="margin-bottom: 2rem;">
      <app-historic-chart />
    </div>

  </div>

  <div class="row mx-0" style="background-color: white;">
    <div class="col-12 prediction-container">
      <!-- <div class="d-flex justify-content-center prediction-container"> -->
      <app-metereologic-prediction />
      <!-- </div> -->
    </div>
  </div>

  <div class="container-page-cups mb-5">
    <div class="col-12 prediction-container">
      <app-energy-prediction [community]="true" />
    </div>
  </div>

</ng-container>
