<ng-container *transloco="let t; prefix: 'MY-COMMUNITY'" class="w-100">
  <div class="container-page">
    <div class="row g-2 mb-2">
      <div class="col-auto">
        <h4 style="font-weight: 600;">{{ t('navbar') }} {{ communityData.name }}</h4>
      </div>
      <div class="col-auto align-bottom">
        <button class="btn btn-primary bg-primary rounded-3 btn-sm" (click)="openEditModal()">
          <i class="fa-solid fa-pencil"></i>
        </button>
      </div>

    <div class="col-auto ms-auto mb-3 d-none">
      <select class="form-select w-100 bg-white shadow-none" readonly>
        <option>
          {{ t('texts.totalProduction') }}
        </option>
        <option>
          CUPS: Com. Montolivet Olot
        </option>
      </select>
    </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="mb-0 fw-semibold" *ngIf="communityData">
          {{ t('texts.info') }}
        </p>

        <p class="mb-0" *ngIf="communityData">
          {{ t('texts.tradeTypeLabel', {type: getTradeTypeTranslation(communityData.tradeType)}) }} <span class="color-tertiary fw-semibold">{{ t('texts.preferent') }}</span>
        </p>

        <p class="mb-0">
          {{ t('texts.communityMembers') }} <span class="color-tertiary fw-semibold">{{ totalMembers$ | async }}</span>
        </p>
        <p class="mb-0">{{ t('texts.activeMembers') }} <span class="color-tertiary fw-semibold">{{ (activeMembers$ | async) }}</span></p>
        <!--@if (communityData && communityData.energyPrice) {
          <p class="mb-0">{{ t('texts.buyingPrice') }} : <b class="color-tertiary"> {{ communityData.energyPrice }}
            €/kWh</b></p>
          <p class="mb-0">{{ t('texts.sellingPrice') }} : <b class="color-tertiary"> {{ communityData.energyPrice }}
            €/kWh </b></p>
        }-->
        <p><i class="fa-solid fa-battery-full me-2"></i> <span class="color-tertiary fw-semibold">0%</span></p>
      </div>
      <div class="col-md-4 text-start text-md-end  mt-3 my-md-0">
        <p class="mb-0 fw-semibold" *ngIf="communityData">
          {{ t('texts.communityPrices') }}
        </p>

        @if (communityData && communityData.energyPrice) {
          <div class="mb-0">
            <span class="price-tables-label">{{ t('texts.sellingPrice') }} :</span>
            <b class="color-tertiary fw-semibold"> {{ communityData.energyPrice }}€/kWh </b>
          </div>
          <div class="mb-0">
            <span class="price-tables-label">{{ t('texts.punta') }} :</span>
            <b class="color-tertiary fw-semibold"> {{ communityData.energyPrice }}€/kWh </b>
          </div>
          <div class="mb-0">
            <span class="price-tables-label">{{ t('texts.llano') }} :</span>
            <b class="color-tertiary fw-semibold"> {{ communityData.energyPrice }}€/kWh </b>
          </div>
          <div class="mb-0">
            <span class="price-tables-label">{{ t('texts.valle') }} :</span>
            <b class="color-tertiary fw-semibold"> {{ communityData.energyPrice }}€/kWh </b>
          </div>
        }

      </div>
      <div class="col-md-4 text-start text-md-end mt-3 my-md-0">
        <p class="mb-0 fw-semibold" *ngIf="communityData">
          {{ t('texts.providerPrices') }}
        </p>

        @if (communityData && communityData.energyPrice) {
          <div class="mb-0">
            <span class="price-tables-label">{{ t('texts.sellingPrice') }} :</span>
            <b class="color-tertiary fw-semibold"> 0.06 €/kWh </b>
          </div>
          <div class="mb-0">
            <span class="price-tables-label">{{ t('texts.punta') }} :</span>
            <b class="color-tertiary fw-semibold"> 0.19 €/kWh </b>
          </div>
          <div class="mb-0">
            <span class=" price-tables-label">{{ t('texts.llano') }} :</span>
            <b class="color-tertiary fw-semibold"> 0.13 €/kWh </b>
          </div>
          <div class="mb-0">
            <span class="price-tables-label">{{ t('texts.valle') }} :</span>
            <b class="color-tertiary fw-semibold"> 0.10 €/kWh </b>
          </div>
        }
      </div>

    </div>
    </div>
  <div class="container-page bg-white">
    <h4 [ngbTooltip]=" (lastUpdate$ | async) ? t('texts.updatedAt') + ' ' + (lastUpdate$ | async) : '' " class="text-center">{{ t('texts.liveWaste') }} <i
          class="ms-1 fa-solid fa-rss fa-fade text-success"></i></h4>
    <div class="row justify-content-evenly w-100">

      <div class="col-6 col-lg my-3">
        @if (isValidNumber(powerFlow().buy) && powerFlow().buy > 0) {
          <app-stat-display [disabled]="powerFlow().buy === 0" width="20%" [color]="StatsColors.CONSUMPTION"
                            label="{{ t('texts.consumption') }}" [text]="powerFlow().buy.toFixed(2) + ' KWH'"/>
        } @else{
          <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
                            label="{{ t('texts.consumption') }}" [text]="t('texts.unavailable')"/>
        }
      </div>

      <div class="col-6 col-lg my-3">
        @if (isValidNumber(powerFlow().inHouse) && powerFlow().inHouse > 0) {
          <app-stat-display [disabled]="powerFlow().inHouse === 0" width="20%"
                            [color]="StatsColors.IN_HOUSE_CONSUMPTION"
                            label="{{ t('texts.selfConsumption') }}" [text]="powerFlow().inHouse.toFixed(2) + ' KWH'"/>
        } @else {
          <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
                            label="{{ t('texts.selfConsumption') }}" [text]="t('texts.unavailable')"/>
        }
      </div>

      <div class="col-6 col-lg my-3">
        @if (isValidNumber(powerFlow().production)) {
          <app-stat-display width="20%"
                            [color]="StatsColors.COMMUNITY_PRODUCTION" label="{{ t('texts.generatedEnergy') }}"
          [text]="powerFlow().production.toFixed(2)" />
        } @else{
          <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
                            label="{{ t('texts.generatedEnergy') }}" [text]="t('texts.unavailable')"/>
        }
      </div>

      <div class="col-6 col-lg my-3">
        @if (isValidNumber(powerFlow().sell) && powerFlow().sell > 0) {
          <app-stat-display [disabled]="powerFlow().sell === 0" width="20%" [color]="StatsColors.SURPLUS"
          label="{{ t('texts.surplus') }}" [text]="powerFlow().sell.toFixed(2)" />
        }
        @else{
          <app-stat-display [disabled]="true" width="20%" [color]="StatsColors.IN_HOUSE_CONSUMPTION"
                            label="{{ t('texts.surplus') }}" [text]="t('texts.unavailable')"/>
        }
      </div>
    </div>
    </div>
  <div class="container-page">



      <app-historic-chart [chartType]="'community'"/>


  </div>

  <div class="row mx-0 container-page" style="background-color: white;">
    <div class="col-12" >
      <!-- <div class="d-flex justify-content-center prediction-container"> -->
      <app-metereologic-prediction/>
      <!-- </div> -->
    </div>
  </div>

  <div class="row mx-0 container-page">
    <div class="col-12">
      <app-energy-prediction [community]="true"/>
    </div>
  </div>

</ng-container>
