<ng-container *transloco="let t;">
    <div class="container mt-5 mb-3">
        <h4>{{ t('NOTIFICATIONS.title') }}</h4>

        <div class="my-3">
            <label class="form-label">
                subtitle
            </label>
            <div class="d-block d-lg-flex">
                <div class="form-div-width">
                    
                </div>
                <button class="btn btn-secondary bg-primary ms-0 ms-lg-3 mt-2 mt-lg-0 rounded-3" type="button">
                    
                </button>
            </div>
        </div>

    </div>
</ng-container>