<ng-container *transloco="let t;">
    <div class="container mt-5">
        <h4>{{ t('NOTIFICATIONS.title') }}</h4>

        <div class="my-3">

            @if(email){
                <span>Les notificacions seràn enviades al següent correu: </span>
                <span><b>{{email}}</b></span>
            }
            @if(!email){
                <span>Afegeix un correu al teu perfil per rebre notificacions.</span>
            }

            <div class="row justify-content-center">
                @for (category of notifications.categories; track category) {
                <div class="col-12 col-md-3">
                    <div class="col-12 d-flex justify-content-between mb-4 mt-4">
                        <label class="form-label fw-bold">
                            {{getTranslation(category.category)}}
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input shadow-none border-secondary" type="checkbox" role="switch"
                            [ngModel]="getUserCategoryStatus(category.id)" (change)="updateCategoryPreference(category.id)">
                        </div>
                    </div>
                    @for (notification of notifications.notifications; track notification) {
                    @if(notification.notificationCategoryId==category.id){
                    <div class="col-12 d-flex justify-content-between mb-2">
                        <label class="form-label pe-2">
                            {{getTranslation(notification.code)}}
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input shadow-none border-secondary" type="checkbox" role="switch"
                            [ngModel]="getUserNotificationStatus(notification.id)" (change)="updateNotificationPreference(notification.id)">
                        </div>
                    </div>
                    }
                    }
                </div>
                }
            </div>
        </div>

    </div>
</ng-container>