@import 'styles/colors';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


.nav-link {
  font-weight: bold;
}

.navbar * {
  border-color: $white !important;
}

.nav-link {
  font-weight: 500;
  color: $active-hover !important;
  position: relative;

}
.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.active, .nav-link:hover {
  color: $white !important;
}


.active::before, .nav-link:hover::before {
  transform: scaleX(1);
}

.navbar-toggler-icon::before {
  color: $white !important;
}

.navbar-container {
  padding: 0.5rem 1rem;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .navbar-container {
    padding: 0.5rem 5rem;
  }
}

button.nav-item {
  background-color: $primary !important;
  color: white;
  border: 0 !important;
  font-weight: bold;
}


.custom-dropdown {
  background-color: $primary;
}



.custom-dropdown .dropdown-item:hover {
  color: $primary !important;
  background: $white;
}

.cursor-pointer {
  cursor: pointer;
}
