<ng-container *transloco="let t; prefix: 'HISTORIC-CHART'">
  <h5 style="margin: 2rem 0 2rem 0;" class="fw-bold">{{ t('title') }}</h5>

  <div class="row justify-content-evenly mb-3">
    <div class="col-12 col-lg-4">
      <h5 class="subtitle">{{ t('texts.dataType.title') }}</h5>
      <select class="form-select w-100 bg-white" readonly (change)="setChartResource($event)">
        <option [value]="ChartResource.ENERGY" [selected]="(chartResource$ | async) === ChartResource.ENERGY">
          {{ t('texts.dataType.types.energy') }}
        </option>
        <!-- @if(chartType=='cups'){ -->
        <option [value]="ChartResource.PRICE" [selected]="(chartResource$ | async) === ChartResource.PRICE">
          {{ t('texts.dataType.types.energyPrice') }}
        </option>
        <!-- } -->
      </select>
    </div>

    <div class="col-12 col-lg-4">
      <h5 class="subtitle">{{ t('texts.communityModel.title') }}
        <app-question-badge>
          <strong>{{ t('texts.communityModel.types.acc') }}</strong> {{ t('tooltips.communityModel.acc') }}
          <br>
          <strong>{{ t('texts.communityModel.types.cce') }}</strong> {{ t('tooltips.communityModel.cce') }}
        </app-question-badge>
      </h5>
      <select class="form-select w-100 bg-white" (change)="setChartType($event)">
        <option [selected]="(chartType$ | async) === ChartType.ACC">{{ t('texts.communityModel.types.acc') }}</option>
        <option [selected]="(chartType$ | async) === ChartType.CCE">{{ t('texts.communityModel.types.cce') }}</option>
      </select>
    </div>

    <div class="col-12 col-lg-4">
      <h5 class="subtitle">{{ t('texts.dataSource.title') }}
        <app-question-badge>
          {{ t('tooltips.dataSource') }}
        </app-question-badge>
      </h5>
      <select class="form-select w-100 bg-white">
        <option selected>{{ t('texts.dataSource.types.datadis') }}</option>
      </select>
    </div>
  </div>

  <div class="row justify-content-evenly my-4">
    <div class="col-12 col-lg-4 mt-2 m-lg-0">
      <button (click)="setDateRange(DateRange.DAY)" class="btn rounded-4 py-3 w-100 text-center"
        [ngClass]="(dateRange$ | async) === DateRange.DAY ? 'btn-active' : 'btn-inactive'">
        <span class="d-block">{{ t('texts.dates.daily') }}</span>
      </button>
    </div>
    <div class="col-12 col-lg-4 mt-2 m-lg-0">
      <button (click)="setDateRange(DateRange.MONTH)" class="btn rounded-4 py-3 w-100 text-center"
        [ngClass]="(dateRange$ | async) === DateRange.MONTH ? 'btn-active' : 'btn-inactive'">
        <span class="d-block">{{ t('texts.dates.monthly') }}</span>
      </button>
    </div>
    <div class="col-12 col-lg-4 mt-2 m-lg-0">
      <button (click)="setDateRange(DateRange.YEAR)" class="btn rounded-4 py-3 w-100 text-center"
        [ngClass]="(dateRange$ | async) === DateRange.YEAR ? 'btn-active' : 'btn-inactive'">
        <span class="d-block">{{ t('texts.dates.yearly') }}</span>
      </button>
    </div>
  </div>


  <p class="text-center">
    {{ t('texts.chartDataInputText') }}
  </p>

  <div class="row justify-content-center">
    <div class="col-md-3 mb-4">
      <p-calendar [maxDate]="maxDate" (onSelect)="setDate($event)" (ngModelChange)="setInputDate($event)"
        [ngModel]="date$ | async" iconDisplay="input" [dateFormat]="(dateFormat$ | async) || 'yy'" [showIcon]="true"
        styleClass="w-100" [view]="(calendarView$ | async) || 'month'" />

    </div>
  </div>

  @switch (origin$ | async) {
  @case (ChartOrigins.DATADIS) {
  <app-datadis-chart />
  }
  @default {
  <h3>{{ t('texts.noDisplay') }}</h3>
  }
  }
</ng-container>